<aside>
			<h1>Glenn Hoffman</h1>
			
				<h2>Lecturer and Undergraduate Program Director of Information technology</h2>
                <br><br>
				<li>Phone: 617-287-7472</li>
                <br><br>
                <li>Email: glenhoffman@mac.com</li>
                <br><br>
                <li>Some of the courses taught : IT-116, It-117, IT-244</li> 
  
        </aside>
        <section>
                <img src="../images/Glenn_Hoffman.jpg" alt="bsitmajor">
        </section>