
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: floralwhite;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 0 auto;
    margin: 0 auto;
    
    background-color: white;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid black;
    background-image: url(../images/lightheader.jpg);
}
header h2 {
	font-size: 175%;
	color: gold;
}
header h3 {
	font-size: 130%;
	font-style: italic;
    color: goldenrod;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #0000FF;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
    overflow: hidden;
    background-color: midnightblue;
    
}
#nav_menu li {
    float: left;
}
#nav_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav_menu ul ul {
    display: none;
    position: fixed;
    top: 100%;
    width: auto;
}

li a:hover:not(.active) {
    background-color: darkgrey;
}

.active{
    background-color:goldenrod;
}
/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	padding: 0 0px 0px 0px;
}
section h1 {
	color: goldenrod;
	font-size: 150%;
	padding-top: .5em;
	margin: 0;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 23em;
}
article h2 {
	font-size: 115%;
	padding: 0 0 .25em 0;
}
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}
article figure {
	float: right;
	margin: .5em 0 1em 1em;
}
article figcaption {
	display: block;
	font-weight: bold;
	padding-top: .5em;
	border-bottom: 1px solid black;
}

/* the styles for the aside */
aside {
	width: auto;
	float: left;
	padding: 0 0 20px 20px;
}
aside h2 {
	color: goldenrod;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
    padding-top: 1em;
}

/* the styles for the footer */
footer {
	background-color: midnightblue;
	clear: both;

}
footer p {
	text-align: center;
	color: floralwhite;
	padding: 1em 0;
}
